* {
    margin: 0;
    padding: 0;
}


header {
    height: 64px;
}

.navbar {
    height: 64px;
    background-color: black;
    width: 100%;
}

.navlogo {
    height: 61px;
    width: 122px;
    /* border: 1px solid white; */
}

.amazon img {
    color: white;
    height: 40px;
    width: 100px;
    display: flex;
    position: relative;
    left: 7px;
    top: 10px;
    padding: 5px;
}

.amazon :hover {
    border: 1px solid white;
    height: 40px;
    width: 100px;
}

.location {
    position: relative;
    left: 130px;
    bottom: 50px;
    color: white;
    width: 200px;
    height: 40px;
    justify-content: space-evenly;
}

.location h3 {
    font-size: 13px;
    position: relative;
    left: 16px;
    font-weight: lighter;
    width: 200px;
}

.location {
    font-size: 20px;
}

.location i {
    font-size: 15px;
    width: 12px;
}


.location:hover {
    border: 1px solid white;
    height: 40px;
    width: 200px;
}

.search-bar {
    width: 382px;
    position: relative;
    bottom: 84px;
    right: 100px;
    display: flex;
    position: relative;
    left: 357px;
    justify-content: space-evenly;

}


.search-bar i{
    height: 29px;
    width: 46px;
    color: white;
    border: 1px solid white  ;
    position: relative;
    right: 2px;
    background-color: rgb(254,189,105);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(254,189,105);
    border-radius: 2px;
}

.search-bar,input{
    height: 32px;
    width: 439px;
}

.search-bar select, option{
    background-color: rgb(230,230,230);
    border-radius: 2px;
}

.en{
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    left: 822px;
    bottom: 115px;
    width: 20px;
    height: 21px;

}

.en,select{
    height: 32px;
}

.en option,i {
    width: 20px;
    color: white;
    display: inline-block;

}

.hello {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    left: 884px;
    bottom: 152px;
    width: 135px;
    color: white;
    /* line-height: 3cqmin; */
}

.hello h4{
    font-weight:300;
    font-family: bold;
    font-style: italic;
    
}



.cart{
    display: flex;
    justify-content: center;
    text-align: center;
    float: right;
    position: relative;
    bottom: 255px;
    right: 93px;
    color: white;
}

.cart  h3{
    color: white;
    font-size: 20px;
}

@media only screen and(max-width:1000px){
    
}


