.main_photo {
    height: 300px;
    width: 100%
}

.main_photo img {
    height: 612px;
    width: 100%;
}

.container {
    height: 33px;
    width: 100%;
    background-color: rgb(35, 47, 62);
}

.container a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
}

.container img {
    height: 15px;
    position: relative;
    top: 5px;
    width: 225px;
}



.box1 {
     height: 288px;
     width: 263px;
    border: 2px solid white;
    background-color: white;
    position: relative;
    bottom: 380px;
    left: 7px;
    display: flex;
    justify-content: space-between;
    font-size: 7px;
    line-height: 41px;
    
}

.box1 .left{
    height: 96px;
    width: 114px;
}

.box1 .left img{
    height: 91px;
    width: 105px;
    padding: 3px;
    margin: 2px;
}

.box1 .right{
    height: 96px;
  width: 110px;
}
.box1 .right img{
    height: 94px;
  width: 103px;
  padding: 3px;
  margin: 2px;
}

.box2{
    height: 288px;
    width: 263px;
   border: 2px solid white;
   background-color: white;
   position: relative;
   bottom: 729px;
   left: 320px;
   display: flex;
   justify-content: space-between;
  
}

.box2 .left{
    height: 96px;
    width: 114px;
}

.box2 .left img{
    height: 91px;
    width: 105px;
    padding: 3px;
    margin: 2px;
}

.box2 .right{
    height: 96px;
  width: 110px;
}
.box2 .right img{
    height: 93px;
    width: 103px;
    padding: 3px;
}
.box3{
    height: 286px;
    width: 230px;
   border: 2px solid white;
   background-color: white;
   position: relative;
   bottom: 1019px;
   left: 626px;
   display: flex;
   justify-content: space-between;
  
}

.box3 .left{
    height: 96px;
    width: 114px;
}

.box3 .left img{
    height: 91px;
    width: 105px;
    padding: 3px;
    margin: 2px;
}

.box3 .right{
    height: 96px;
  width: 110px;
}
.box3 .right img{
    height: 93px;
    width: 103px;
    padding: 3px;
}